#titulo{
  text-align: center;
  font-family: serif;
  border-style: inset;
  border-color: orange;
}

.encabezado{
  text-decoration: underline;
  color: darkorange;
}

body{
  background-color: grey;
  margin: 40px;
}

.lista{
  background-color: lightgrey;
}

a{
  font-family:"Comic Sans MS", sans-serif;
}

#fotocv{
  ;
}
